/data/*
!data/process_stuck.py
__pycache__/
**/__pycache__/**
**.pyc
**/checkpoints/
result/
/envs/curobo
*.zip
viewer_show.*
eval_video/

**/.DS_Store
*.log

# eval result
/eval_result/

# Code Generation
/assets/*
!assets/_download.py
!assets/files

policy/weights/*

/envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt

# Docs and logs
docs/*
logs/*
nohup.out

# data
**/training_data/**
**/processed_data/**
/policy/TinyVLA/data

# ckpt
**/checkpoints/**
**/*ckpt*/*

# backbone
/policy/TinyVLA/model_param/*

# dependencies
/script/curobo/